---
import Container from "../elements/Container.astro";
import Title from "../elements/Title.astro";
import imgAbout from "../../../public/img/about3.avif";
import { Image } from "astro:assets";
import TeamCard from "../elements/TeamCard.astro";
import TeamCardMovil from "../elements/TeamCardMovil.astro";
import team from "../../utils/data/team.json";
import TextoAbout from "../elements/TextoAbout.astro";
import aboutCardData from "../../utils/data/aboutCardData.json";
import CardAbout from "../elements/CardAbout.astro";
---

<section
  class="mb-14 mt-14 overflow-hidden"
  id="nosotros"
>
  <Container>
    <div class="w-full grid place-items-center">
      <Title title1="Sobre Nosotros" />

      <div
        class="w-full relative h-full flex flex-col-reverse xl:flex-row items-center xl:mt-10 gap-10 xl:gap-0"
      >
        <div
          class="w-full xl:w-1/3 h-auto back backdrop-blur-[5px] md:backdrop-blur-[20px]"
          data-aos="fade-left"
          data-aos-duration="2000"
          data-aos-once="true"
          data-aos-offset="300"
        >
          <TextoAbout />
        </div>

        <div
          class="relative xl:-right-10 w-full xl:w-2/3"
          data-aos="fade-right"
          data-aos-duration="2000"
          data-aos-once="true"
          data-aos-offset="300"
        >
          <Image
            class="object-cover object-center w-full h-full"
            src={imgAbout}
            alt="Imagen Islay"
          />
        </div>
      </div>

      <div class="mt-20 md:mt-40 w-full grid place-items-center mx-auto">
        <div
          class="w-3/4"
          data-aos="fade-up"
          data-aos-duration="2000"
          data-aos-once="true"
          data-aos-offset="300"
        >
          <h2 class="text-[clamp(20px,1vw+5px,30px)] text-center font-semibold">
            Nuestro equipo está compuesto por profesionales con diferentes áreas
            de especialización, lo que nos permite abordar una amplia gama de
            seguros. Algunos de nuestros expertos incluyen:
          </h2>
        </div>

        <div
          class="flex flex-col lg:flex-row gap-6 mt-20 w-full justify-center items-center"
          data-aos="fade-down"
          data-aos-duration="2000"
          data-aos-once="true"
          data-aos-offset="300"
        >
          {aboutCardData.map((item) => <CardAbout {...item} />)}
        </div>
      </div>

      <div class="w-full grid place-items-center">
        <Title
          title1="El Equipo"
          className="text-[#1d1d1bde] mt-20 "
          text="En ISLAY, estamos comprometidos con la formación continua y el acompanamiento constante. Creemos que un equipo bien preparado es clave para ofrecer un servicio de alta calidad. Por eso, invertimos en capacitación y actualizaciones constantes sobre las tendencias y novedades del sector. Estamos aquí para inspirarte en cada paso, brindindote la confianza y el respaldo que mereces. ¡Conoce a nuestro equipo y descubre qué podemos ayudarte!"
        />
        <!--  <p>
            "En ISLAY, estamos comprometidos con la formación continua y el
            desarrollo profesional. Creemos que un equipo bien preparado es
            clave para ofrecer un servicio de calidad. Por eso, invertimos en
            capacitación y actualizaciones constantes sobre las tendencias y
            novedades del sector. Estamos aquí para acompañarte en cada paso,
            brindándote la confianza y el respaldo que mereces. ¡Conoce a
            nuestro equipo y descubre cómo podemos ayudarte!"
          </p>
        </Title> -->

        <div class="w-full grid place-items-center background relative z-10">
          <div class="absolute w-[80%] -z-10 invert opacity-20">
            <img
              class="w-full"
              src="/logos/logo.svg"
              alt="Logo Sal & Silvetti Asesores de Seguros"
            />
          </div>
          <div class="hidden w-full md:grid place-items-center mx-auto">
            {team.map((item) => <TeamCard {...item} />)}
          </div>
          <div
            class="grid place-items-center mx-auto mb-6 gap-6 w-full md:hidden"
          >
            {team.map((item) => <TeamCardMovil {...item} />)}
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .back {
    z-index: 2;
    background: rgba(153, 153, 153, 0.199);
    border-radius: 8px;
  }

  .back::after {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    width: 200px;
    height: 200px;
    bottom: -15px;
    right: -10px;
    border-right: 3px solid #c2cda5;
    border-bottom: 3px solid #c2cda5;
    z-index: -1;
    border-bottom-right-radius: 10px;
  }
  .back::before {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    width: 220px;
    height: 220px;
    bottom: -10px;
    right: -15px;
    border-right: 3px solid #c2cda5;
    border-bottom: 3px solid #c2cda5;
    z-index: -1;
    border-bottom-right-radius: 10px;
  }
</style>
