---
import Container from "../elements/Container.astro";
import Title from "../elements/Title.astro";
import data from "../../utils/data/patrimonialesData.json";
import Carrousel from "../elements/Carrousel.astro";
---

<section
  class="py-8 lg:py-24"
  id="compañias"
>
  <Container className="xl:px-6">
    <div class="w-full grid place-items-center">
      <div>
        <Title title1="Compañias" />
      </div>

      <div
        class="overflow-hidden w-full lg:w-auto"
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <Carrousel
          duration="slow"
          className="md:my-8 "
          classSlider="gap-6"
          pause="true"
        >
          {
            data.map((item) => {
              return (
                <img
                  class="h-[120px] w-auto lg:w-[200px] lg:grayscale lg:invert lg:opacity-50 lg:hover:grayscale-0 lg:hover:opacity-100 lg:hover:invert-0 lg:transition-all lg:duration-500 aspect-[1/1] object-contain"
                  src={item.imgURL}
                  alt={item.title}
                />
              );
            })
          }
        </Carrousel>
      </div>
    </div>
  </Container>
</section>
