---
import ModalMail from "../Preact/ModalMail";

const navLinks = [
  { href: "/#nosotros", label: "Nosotros" },
  { href: "/#servicios", label: "Servicios" },
  { href: "/#companias", label: "Compañias" },
  { href: "/#clientes", label: "Clientes" },
];
---

<nav
  id="navbar"
  class="w-full grid place-items-center fixed z-[100] transition-all duration-500 -translate-y-24"
>
  <div
    class="flex items-center justify-between lg:justify-center w-full max-w-screen-xl mx-auto lg:px-3 2xl:px-0"
  >
    <div class="lg:hidden flex justify-center items-center flex-1">
      <a
        href="/#inicio"
        class="flex items-center gap-3 z-10"
      >
        <img
          class="w-[120px] xl:w-[170px]"
          src="/logos/logo_salsilvetti.avif"
          alt="Logo Sal & Silvetti Asesores de Seguros"
        />
      </a>
    </div>
    <!-- links de navegacion -->
    <div class="flex-1">
      <div
        id="navLinksResponsive"
        class="hidden lg:static lg:flex lg:justify-start lg:items-center lg:h-auto"
      >
        <!-- navegador web -->
        <ul
          id="navbar-web"
          class="text-center justify-start items-center space-y-4 lg:flex lg:space-y-0 lg:rounded-full gap-6 transition-all duration-500 flex-1"
        >
          {
            navLinks.map((item) => {
              return (
                <>
                  <li class="hidden lg:block group   font-medium ">
                    <a
                      id="navItem"
                      class="block py-2 px-3  md:bg-transparent md:p-0 hover:text-[#c2cda5]  text-base xl:text-lg"
                      href={item.href}
                    >
                      {item.label}
                    </a>

                    <div class="hidden md:block md:opacity-0 md:w-0 md:border-t-[3px] md:border-[#c2cda5] md:group-hover:w-full md:group-hover:opacity-100 md:duration-200 md:ease-linear">
                      {" "}
                    </div>
                  </li>
                </>
              );
            })
          }
        </ul>
      </div>

      <!-- //navegador tablet y movil -->
      <ul
        id="navbar-movil"
        class="lg:hidden fixed w-full inset-0 grid place-content-center bg-[#1d1d1b] text-center gap-4 -translate-x-full transition-all duration-500 -z-10"
      >
        {
          navLinks.map((item) => {
            return (
              <>
                <li class=" lg:hidden group  text-2xl ">
                  <a href={item.href}>{item.label}</a>
                </li>
              </>
            );
          })
        }
        <div
          class="lg:hidden w-full grid place-items-center rounded-sm border-[3px] border-[#d9d9d9] overflow-hidden group"
          id="navbar-default"
        >
          <button
            id="btn-contacto-movil"
            class="px-4 py-2 p flex justify-center items-center text-2xl"
            onclick="formContacto.showModal()"
            >Contacto
          </button>
        </div>
      </ul>
    </div>

    <div class="hidden lg:flex justify-center items-center flex-1">
      <a
        href="/#inicio"
        class="flex items-center pb-2 z-10"
      >
        <img
          class="w-[70px] lg:w-[90px]"
          src="/logos/logo.svg"
          alt="Logo Sal & Silvetti Asesores de Seguros"
        />
      </a>
    </div>

    <!-- boton nav web -->

    <div
      class="text-center lg:flex justify-end items-center lg:static z-10 flex-1"
    >
      <div
        class="hidden w-full lg:block lg:w-auto rounded-sm border-2 border-[#e7e7e7] overflow-hidden hover:border-[#c2cda5] group transition-all duration-500"
        id="navbar-default"
      >
        <button
          onclick="formContacto.showModal()"
          class="px-12 py-1 inline-flex"
          ><p
            class="text-center text-base xl:text-lg leading-7 group-hover:text-[#c2cda5] transition-all duration-500"
          >
            Contacto
          </p>
        </button>
      </div>

      <div class="flex justify-end items-center flex-1 lg:hidden mr-4">
        <label class="menu__toggle">
          <input
            type="checkbox"
            class="menu__input hidden"
            id="menu-input"
          />
        </label>
      </div>
    </div>
  </div>
</nav>
<div>
  <ModalMail client:only="preact" />
</div>

<style>
  .menu__toggle {
    --icon-toggle-menu: url("../../../public/svg/menu_open.svg");
    background-image: var(--icon-toggle-menu);
    filter: invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .menu__toggle:has(.menu__input:checked) {
    --icon-toggle-menu: url("../../../public/svg/menu_close.svg");
  }
</style>

<script>
  const menuInput = document.getElementById("menu-input") as HTMLInputElement;
  /*  const navbarWeb = document.getElementById("navbar-web"); */
  const navbarMovil = document.getElementById("navbar-movil");
  const navbarMovilLinks = document.querySelectorAll("#navbar-movil a");
  const navBar = document.getElementById("navbar");
  const btnMovil = document.getElementById("btn-contacto-movil");

  let lastScrollTop = 0;

  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY || document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {
      navBar.classList.add("-translate-y-24");
    } else if (scrollTop === 0) {
      navBar.classList.remove("-translate-y-24");
      navBar.classList.remove("bg-[#1d1d1b]");
      navBar.classList.remove("lg:bg-[#1d1d1b]");
      navBar.classList.add("bg-transparent");
    } else {
      navBar.classList.remove("-translate-y-24");
      navBar.classList.add("bg-[#1d1d1b]");
      navBar.classList.add("lg:bg-[#1d1d1b]");
    }

    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
  });
  menuInput.addEventListener("click", () => {
    navbarMovil.classList.toggle("-translate-x-full");
    navbarMovil.classList.toggle("translate-x-0");
    navbarMovil.classList.toggle("opacity-0");
    navbarMovil.classList.toggle("opacity-100");
  });

  navbarMovilLinks.forEach((link) => {
    link.addEventListener("click", () => {
      navbarMovil.classList.toggle("-translate-x-full");
      navbarMovil.classList.toggle("translate-x-0");
      navbarMovil.classList.toggle("opacity-0");
      navbarMovil.classList.toggle("opacity-100");
      menuInput.checked = false;
    });
  });

  btnMovil.addEventListener("click", () => {
    navbarMovil.classList.toggle("-translate-x-full");
    navbarMovil.classList.toggle("translate-x-0");
    navbarMovil.classList.toggle("opacity-0");
    navbarMovil.classList.toggle("opacity-100");
    menuInput.checked = false;
  });
</script>
