---
import Carrousel from "../elements/Carrousel.astro";
import Container from "../elements/Container.astro";
import Title from "../elements/Title.astro";
import data from "../../utils/data/social.json";
import CardSocialProof from "../elements/CardSocialProof.astro";
---

<section id="clientes">
  <Container>
    <div class="w-full grid place-items-center mx-auto">
      <div>
        <Title
          title1="Opiniones"
          className="text-[#1d1d1bde] mb-0"
        />
      </div>
      <div
        class="overflow-hidden w-full lg:w-auto"
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <Carrousel
          duration="slow"
          className="md:my-8"
          classSlider="gap-4"
        >
          {
            data.map((item) => {
              return <CardSocialProof {...item} />;
            })
          }
        </Carrousel>
      </div>
    </div>
  </Container>
</section>
