---

---

<article class="p-8 text-white text-[clamp(16px,2vw,18px)] indent-6">
  <p class="mb-[6px]">
    Con <strong> 35 años de experiencia</strong> en el mercado, Islay es un referente
    en la intermediación de seguros en <strong>Uruguay</strong>.
  </p>
  <p class="mb-[6px]">
    Fundada por Gustavo Kramer, quien sigue liderando la empresa junto a sus
    hijos, Florencia y Federico, y un grupo de profesionales que nos acompañan
    día a día.
  </p>
  <p class="mb-[6px]">
    Hemos construido una sólida reputación basada en la <strong
      >confianza</strong
    >, la <strong>transparencia</strong> y un <strong>compromiso</strong> inquebrantable
    con nuestros asegurados.
  </p>
  <p class="mb-[6px]">
    Logramos adquirir un conocimiento técnico profundo que nos permite ofrecer
    soluciones de seguros adaptadas a múltiples necesidades.
  </p>
  <p>
    Desde la fundación de la empresa, hasta el día de hoy, nos hemos
    comprometido a ofrecer un <strong
      >servicio excepcional y personalizado</strong
    >.
  </p>
</article>
