---

---

<article class="p-8 text-white text-[clamp(16px,2vw,18px)] indent-6">
  <p class="mb-[6px]">
    Con <strong> 35 años de experiencia</strong> en el mercado, Islay es un referente
    en la intermediación de seguros en <strong>Uruguay</strong>.
  </p>
  <p class="mb-[6px]">
    Fundada por Gustavo Kramer, quien al día de hoy sigue liderando la empresa
    junto a sus hijos, Florencia y Federico, y un grupo de profesionales que nos
    acompañan día a día, nuestra misión es proteger lo que más valoras.
  </p>
  <p class="mb-[6px]">
    Desde nuestros inicios, hemos construido una sólida reputación basada en la
    confianza, la transparencia y un compromiso inquebrantable con nuestros
    clientes. Con tres décadas y media en el sector, hemos adquirido un
    conocimiento profundo que nos permite ofrecerte
    <strong>soluciones de seguros adaptadas a tus necesidades</strong>.
  </p>
  <p>
    En <strong>ISLAY</strong> , nuestro mayor activo es nuestro equipo de profesionales.
    Cada uno de nosotros aporta experiencia, dedicación y una pasión por ayudar a
    nuestros clientes a encontrar las mejores soluciones de seguros. Desde la fundación
    de la empresa, hasta el día de hoy, nos hemos comprometido a ofrecer un <strong
      >servicio excepcional y personalizado</strong
    > .
  </p>
</article>
