---
type Props = {
  title1: string;
  text?: string;
  textColor?: string;
  offset?: string;
  className?: string;
};

const { title1, offset, className, text, textColor } = Astro.props;
---

<div class="w-full lg:w-3/4">
  <div
    class=`flex w-full justify-center items-center  ${className}`
    data-aos="fade-up"
    data-aos-duration="2000"
    data-aos-once="true"
    data-aos-offset={offset ? offset : "0"}
  >
    <h3 class="text-[clamp(50px,5vw+5px,72px)] mb-4 text-center">
      {title1}
    </h3>
  </div>
  <div
    class=`w-full mb-10 ${text ? "" : "hidden"} text-[${textColor}]`
    data-aos="fade-down"
    data-aos-duration="2000"
    data-aos-once="true"
    data-aos-offset={offset ? offset : "0"}
  >
    <h2
      class="text-[clamp(20px,1vw+5px,30px)] text-center text-pretty font-semibold"
    >
      {text}
    </h2>
  </div>
</div>
